---
Language: Cpp
BasedOnStyle: Google
Standard: c++20
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"hfdns/'
    Priority: 3
  - Regex: '^<(yaml-cpp|spdlog|nlohmann|httplib|gtest|gmock|benchmark|libknot)'
    Priority: 2
  - Regex: '^<'
    Priority: 1
  - Regex: '.*'
    Priority: 4
