---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-err33-c,
  concurrency-*,
  misc-const-correctness,
  misc-unused-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  performance-*,
  readability-else-after-return,
  readability-redundant-*,
  readability-simplify-boolean-expr
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/core/(include|src)/.*'
FormatStyle: file
